section.approach
  .container
    .title.title--width-bottom-line
      h2.title.title__header Our approach
      .title__text Checo our approaches step by step (hot we do it)


    ul.approach__list
      li.approach__item
        .approach__image
          img.approach__picture(src="../images/step-1.jpg" alt="step1")
          .approach__step step
        .approach__text
          .approach__title Step 1 : Heading Here
          p.approach__description.
            Lorem Insum is simply dummy text

      li.approach__item
        .approach__image
          img.approach__picture(src="../images/step-2.jpg" alt="step2")
          .approach__step step
        .approach__text
          .approach__title Step 2 : Heading Here
          p.approach__description.
            Lorem Insum is simply dummy text


      li.approach__item
        .approach__image
          img.approach__picture(src="../images/step-3.jpg" alt="step3")
          .approach__step step
        .approach__text
          .approach__title Step 3 : Heading Here
          p.approach__description.
            Lorem Insum is simply dummy text

      li.approach__item
        .approach__image
          img.approach__picture(src="../images/step-4.jpg" alt="step4")
          .approach__step step
        .approach__text
          .approach__title Step 4 : Heading Here
          p.approach__description.
            Lorem Insum is simply dummy text
