section.upvote
  .container
    #app
      h2(class="title has-text-centered dividing-header") UpVote!   
      .section
        article(class="media")
          figure(class="media-left")
            img.image_is-64x64(src="../images/submissions/image-yellow.png" alt="yellow")
         
          .media-content
            .content 
              p <a class="has-text-info" href="#">Yellow Pail</a><span class="tag is-small">#4</span> On-demand sand castle construction expertise.
              br
            small(class="is-size-7") Submitted by: 
              img.image_is-24x24(src="../images/avatars/daniel.jpg")
          .media-right
            span.icon.is-small
              i.fa.fa-chevron-up
                strong.has-text-info 10
              