doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(name='viewport' content='width=device-width')
    link(rel="stylesheet" href="css/main.min.css")
    title Business
  body
    include sections/header
<<<<<<< HEAD
    include sections/hero
    include sections/approach
=======
    include section/hero
    include section/about
>>>>>>> 4c03bf74d9a290bd442b28e995d14c371650fa82
