
html
  head   
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(name='viewport' content='width=device-width')
    link(rel="stylesheet" href="css/main.min.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css")
    script(src="https://unpkg.com/vue")
    title Business
  body
    include sections/header
    h2(class="title has-text-centered dividing-header") UpVote!   
    .container
    #app


      .section
          article(v-for="s in sub" v-bind:key="sub.id" class="media")
            figure(class="media-left")
              img.image_is-64x64(v-bind:src="s.submissionImage" alt="yellow")
            .media-content
              .content 
                #app 
                  p <a class="has-text-info" v-bind:href="s.url">{{ s.title }} {{ s.url }}</a><span class="tag is-small"># {{s.id}}</span> {{s.description}}
                br
              #app
              small(class="is-size-7") Submitted by: 
                img.image_is-24x24(v-bind:src="s.avatar")
            .media-right
              span.icon.is-small(@click="upvote(s.id)")
                i.fa.fa-chevron-up
                  <strong class="has-text-info">{{ s.votes }}</strong>
    script(src='js/main.min.js')